SIP_1/WebContent/svt/xsd/integracionSIAF/CEventoProcesado.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>


<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="CEventoProcesadoXml" type="CEventoProcesadoXml">
	</xs:element>
		<xs:complexType name="CEventoProcesadoXml">
			<xs:sequence>
				<xs:element name="idEntity" type="xs:long"/>
				<xs:element name="idAProcesar" type="xs:int" />
			</xs:sequence>
		</xs:complexType>

</xs:schema>